.Con {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  box-sizing: border-box;
  background: rgb(241, 242, 248);
}
.Box {
  flex-grow: 1;
  max-width: 68.375rem;
  /* border: 1px solid red; */
  display: flex;
  /* height: 609px; */
  flex-direction: column;
}
.section {
  max-width: 58.375rem;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 200px; */
}
.section p {
  margin: 0px;
}
.section > div {
  display: flex;
  margin: 0.75rem 0 0;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75rem;
  height: 40px;
}
.section > div:nth-child(1) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #444560;
  font-weight: 500;
}
.section > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0770e3;
  padding: 11px 16px;
  background: rgb(255, 255, 255);
  width: 110px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 0.375rem;
  box-sizing: border-box;
  white-space: nowrap;
}
.section > div:nth-child(1) > div:nth-child(1):hover {
  border: 2px solid #0770e3;
  padding: 11px 14px;
}
.section > div:nth-child(1) > div:nth-child(2) {
  flex-grow: 1;
}
.section > div:nth-child(1) > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}
.section > div:nth-child(2) {
  width: 100%;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  justify-content: space-around;
  color: #444593;
  font-size: 16px;
  border-radius: 0.25rem 0.25rem 0 0;
}
.section > div:nth-child(2) > div {
  border-bottom: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 13px;
}
.section > div:nth-child(2) > div:hover {
  border-bottom: 3px solid #dddde5;
}
.blueBottom {
  border-bottom: 3px solid #0770e3 !important;
}
.section > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.section > div:nth-child(3) {
  width: 100%;
  height: 12.5rem;
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  border: 0.1875rem solid #fff;
  border-radius: 0.5rem;
}
.ItemsDiv {
  flex-grow: 1;
  max-width: 58.375rem;
  /* border: 1px solid red; */
  width: 100%;
  box-sizing: border-box;
}
/* .ItemsDiv > div {
  border: 1px solid red;
  display: flex;
  width: 100%;
  min-height: 12.75rem;
  border-radius: 0.375rem;
  box-sizing: border-box;
  margin-bottom: 0.75rem;
} */
@media (max-width: 600px) {
}
