body {
  margin: 0px;
  padding: 0px;
}
.toutterContainer {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-areas:
    "a a a a a a a a a a b b b b b b e e e e"
    "a a a a a a a a a a b b b b b b e e e e"
    "a a a a a a a a a a b b b b b b e e e e"
    "a a a a a a a a a a b b b b b b e e e e"
    "a a a a a a a a a a b b b b b b f f f f"
    "a a a a a a a a a a c c c d d d f f f f"
    "a a a a a a a a a a c c c d d d f f f f"
    "a a a a a a a a a a c c c d d d f f f f";
}
.ttopItem1 {
  background: blue;
  grid-area: a;
}
.ttopItem2 {
  grid-area: b;
}
.ttopItem3 {
  grid-area: c;
}
.ttopItem4 {
  grid-area: d;
}
.ttopItem5 {
  grid-area: e;
}
.ttopItem6 {
  grid-area: f;
}
.toutterContainer > div > img {
  width: 100%;
  height: 100%;
  display: block;
}

/*"a a a a a a a a a b b b b b b e e e e"
     "a a a a a a a a a b b b b b b e e e e" 
     "a a a a a a a a a b b b b b b e e e e" 
     "a a a a a a a a a b b b b b b e e e e" 
     "a a a a a a a a a b b b b b b f f f f" 
     "a a a a a a a a a c c c d d d f f f f" 
     "a a a a a a a a a c c c d d d f f f f"
     "a a a a a a a a a c c c d d d f f f f"*/

.SectionHeader_SectionHeader__1YzyH {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}
.BpkText_bpk-text__1KRVP {
  margin: 0;
}
.BpkText_bpk-text--xxxl__1QpyP {
  font-size: 2.25rem;
  line-height: 2.9375rem;
  font-weight: 400;
}
.SectionHeader_SectionHeader__title__2lkEs {
  font-weight: 500;
}
.BpkText_bpk-text__1KRVP {
  margin: 0;
}
.BpkText_bpk-text--xl__5FNve {
  font-size: 1.5rem;
  line-height: 1.9375rem;
  font-weight: 400;
}
.CheckInCheckOut_CheckInCheckOut__time__1Nukj {
  margin-top: 1.125rem;
  font-size: 1.75rem;
  font-weight: 500;
}
.tcheckIn2 {
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 120px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.tcheckIn2 > div:nth-child(2) {
  margin-left: 10%;
  margin-right: 10%;
}
.tcheckIn1 {
  margin-left: 10%;
}
.tgood {
  margin-left: 10%;
}
.tbelowgood1 {
  margin-top: 40px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
}
.tbelowgood1 > div:nth-child(2) {
  margin-left: 4%;
  width: 32%;
  text-align: left;
}
.tbelowgood4 > div:nth-child(2) {
  margin-left: 4%;
  width: 90%;
  text-align: left;
  font-weight: 400;
}

.tbelowgood5 > div:nth-child(2) {
  margin-left: 4%;
  width: 120%;
  text-align: left;
}
.tbelowgood1 > div:nth-child(3) {
  margin-left: 4%;
  text-align: left;
}
.tcardstypes > div > img {
  padding: 5px;
}
.tcardstypes {
  margin-top: 15px;
}
.tbelowgood {
  width: 80%;
  margin: auto;
  background-color: rgba(241, 242, 248, 0.5);
}
.tbelowgood > hr {
  width: 90%;
  margin: auto;
}
.thoteldescription {
  margin-top: 170px;
  margin-bottom: 70px;
}
.thoteldescription > div > h3 {
  margin-bottom: 70px;
  text-align: left;
  margin-left: 10%;
}
.tamenities1 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.tamenities1 > div {
  width: 14%;
  background: rgba(195, 199, 224, 0.5);
}
.HotelDescription_HotelDescription__hotelName__3oGPv {
  margin-top: 1.875rem;
  margin-bottom: 0.375rem;
  font-size: 1.5rem;
}

.BpkText_bpk-text--xxl__1Sso6 {
  font-size: 1.875rem;
  line-height: 2.4375rem;
  font-weight: 400;
}
.DescriptionContent_DescriptionContent__text__G8qNF {
  display: -webkit-box;
  margin: 0;
  color: #444560;
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.tamenities2 {
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: space-around;
  background: whitesmoke;
}
.biggeranemities {
  margin-top: 20px;
  margin-bottom: 150px;
}
.SectionHeader_SectionHeader__1YzyH {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}
.SectionHeader_SectionHeader__title__2lkEs {
  font-weight: 500;
}

.BpkText_bpk-text--xxxl__1QpyP {
  font-size: 2.25rem;
  line-height: 2.9375rem;
  font-weight: 400;
}
.ReviewsFromTA_ReviewsFromTA__image__1-ngD {
  margin-bottom: 0.25rem;
  vertical-align: middle;
}
.ReviewCardList_ReviewCardList__3LlXu {
  margin-top: 2.25rem;
}
.belowAdviser {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
.belowAdviser > div:nth-child(1) {
  width: 25%;
}
.belowAdviser > div:nth-child(2) {
  width: 70%;
}
.belowAdviser > div > img {
  width: 30px;
  height: 30px;
}
.tbelowBanner {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tbelowAdress {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 80px;
}
.MainPrice_MainPrice__button__MY5pC {
  height: 3rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
  white-space: nowrap;
}

.BpkButtonBase_bpk-button__3aBJ2 {
  display: inline-block;
  margin: 0;
  padding: 0.375rem 1.125rem;
  border: 0;
  border-radius: 0.375rem;
  background-image: linear-gradient(-180deg, #00a698, #00a698);
  background-image: linear-gradient(
    -180deg,
    var(--bpk-button-primary-gradient-start-color, #00a698),
    var(--bpk-button-primary-gradient-end-color, #00a698)
  );
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  color: var(--bpk-button-primary-text-color, #fff);
  background-color: #00a698;
  background-color: var(--bpk-button-primary-background-color, #00a698);
  font-size: 1.1875rem;
  font-size: var(--bpk-button-font-size, 1.1875rem);
}
.t1 {
  margin-top: 16px;
  margin-left: 5%;
}
.t2 {
  margin-left: 10%;
  font-size: 18px;
  font-family: serif;
}
.t3 {
  background-color: rgb(0, 136, 126);
  border-radius: 30px;
  width: 90px;
  height: 60px;
  text-align: center;
  outline: none;
  padding-top: 2px;
  box-sizing: border-box;
}
.t4 {
  margin-left: 35px;
  margin-top: 2px;
  margin-right: 20px;
  width: 200px;
}
.t5 {
  font-size: 18px;
  font-family: serif;
  text-decoration: underline;
  color: blue;
}
.t6 {
  width: 150px;
  height: 25px;
  border-radius: 50px;
  background-color: lightGray;
  text-align: center;
  font-family: serif;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  box-sizing: border-box;
}
.t7 {
  font-size: 14px;
  font-family: serif;
  margin: 0px;
}
.t8 {
  width: 80%;
  margin: auto;
  margin-bottom: 150px;
}
.t9 {
  display: flex;
}
.t10 {
  margin-left: 50px;
}
.t11 {
  display: flex;
  margin-left: 42%;
}
.t12 {
  margin-top: 16px;
  margin-left: 5px;
}
.t12 button {
  background: rgb(0, 136, 126) !important;
}
.t13 {
  background: rgb(0, 136, 126);
  width: 24px;
  height: 35px;
}
.t14 {
  padding: 10px;
}
.t15 {
  margin-left: 10%;
  margin-bottom: 100px;
}
.t16 {
  margin-top: 20px;
}
.t17 {
  color: grey;
  font-size: 12px;
}
.t18 {
  margin-left: 15px;
}
.t19 {
  margin-top: 16px;
}
.t20 {
  margin-left: 15px;
}
.t21 {
  margin-top: 20px;
}
.t22 {
  color: grey;
  font-size: 12px;
}
.t23 {
  font-size: 80px;
  padding: 25px;
}
.t24 {
  font-size: 45px;
  padding: 20px;
}
.t25 {
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px;
  width: 80%;
  margin: auto;
}
.t26 {
  width: 80%;
  text-align: left;
  margin: auto;
  margin-bottom: 150px;
}
.t27 {
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.t28 {
  padding: 30px;
}
.t29 {
  margin-left: 3px;
}
.t30 {
  width: 70%;
  margin: auto;
}
.t31 {
  width: 70%;
  margin: auto;
}
.t32 {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
