.mainPayment {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin-left:15%;
  
}
.mainguest {
  width: 35%;
}
.hoteldetails {
  width: 60%;
}

.footerpayment{
    margin-top:60px;
    width:100%;
    margin-left: 15px;
    color: #68697f;
    font-size: .75rem;
    line-height: 1.25rem;
 
}
.footerpayment>a{
    text-decoration: none;
}

@media (max-width: 1000px) {
  .mainPayment {
    flex-direction: column-reverse;
  }

  .hoteldetails > div {
  
  
    box-sizing: border-box;
    padding: 20px !important;
    margin: 0px -30px;
  }
}
